.bold {
    -fx-font-weight: bold;
}

.pt-8 {
    -fx-padding: 8 0 0 0;
}

.labelCustom {
    -fx-font-weight: bold;
    -fx-padding: 0 0 4 0;
}

.custom-header {
    -fx-text-fill: red !important;
    -fx-font-size: 18px !important;
    -fx-padding: 12px !important;
}

.small-button {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-border-width: 1;
}

.success.small-button {
    -fx-background-color: none;
    -fx-text-fill: #5cb85c;
}

.danger.small-button {
    -fx-background-color: none;
    -fx-text-fill: #d9534f;
}

.small-button:hover {
    -fx-text-fill: #ffffff!important;
}

.table-column {
    -fx-alignment: CENTER;
}